<section class="footer-content">
    <div>
        <div>
            <h2 class="info-txt-h2">José Camilo
            <span class="txt-subtitle">FullStack Web Developer</span></h2>
        </div>
        <div class="info-mobile">
            <i class="uil uil-mobile-android mobile"></i>
            <p class="info-tel-email">0999999999
                <span><a href="">jrodriguez_131@hotmail.com</a></span>
            </p>
        </div>
    </div>
    <div>
        <h3>Quick Links</h3>
        <ul class="quick-links">
            <li><i class="uil uil-arrow-right list-style-ico"></i><a href="{% url 'home' %}">Home</a></li>
            <li><i class="uil uil-arrow-right list-style-ico"></i><a href="{% url 'portfolio:portfolio' %}">Portfolio</a></li>
            <li><i class="uil uil-arrow-right list-style-ico"></i><a href="{% url 'portfolio:contac' %}">Contact Me</a></li>
            <li><i class="uil uil-arrow-right list-style-ico"></i><a href="{% url 'portfolio:download' %}">Download Resume</a></li>
        </ul>
    </div>
</section>
<div class="container-social-footer">
    <i class="uil uil-github redes_social"></i>
    <i class="uil uil-linkedin redes_social"></i>
    <i class="uil uil-twitter redes_social"></i>
    <span>- Creado por José Camilo</span>
</div>