{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/letter-c.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock styles %}
    <title>Hi, I'm José Camilo | {% block title %}{% endblock title %}</title>
</head>
<body>

    <header>
        {% include 'layouts/parcels/header.html' %}
    </header>

    <main>
        {% block messages %} {% include 'layouts/parcels/message.html' %} {% endblock messages %}

        {% block content %}
            {% comment %} Contenido {% endcomment %}
        {% endblock content %}
    </main>
    
    <footer>
        {% include 'layouts/parcels/footer.html' %}
    </footer>
    
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
    <script src="{% static 'js/animation.js' %}"></script>
</body>
</html>