{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock title %}

{% block content %}
    <section class="portfolio-content">
        <h1>PortFolio - Projects</h1>
        <div class="contenedor-folio">
            <article class="card-folio">
                <img src="{% static 'assets/img-squills/frontend-mentor.png' %}" alt="projecto-1">
                <div class="description-folio">
                    <h4>Frontend Mentor - Social proof section</h4>
                    <p>HTML, CSS (Grid, Flexbox)</p>
                    <div class="link-folio">
                        <a href="https://josecamilo84.github.io/Primer-Desafio-FrontendMentor/" target="_blank" rel="noreferrer noopener">Ir a...</a>
                        <a href="https://github.com/JoseCamilo84/Primer-Desafio-FrontendMentor" target="_blank" rel="noreferrer noopener">GitHub</a>
                    </div>
                </div>
            </article>
            <article class="card-folio">
                <img src="{% static 'assets/img-squills/portfolio-personal.png' %}" alt="projecto-2">
                <div class="description-folio">
                    <h4>Portfolio Personal</h4>
                    <p>HTML, CSS, Javascript, Python, Django</p>
                    <div class="link-folio">
                        <a href="https://portfolio-django-production-614b.up.railway.app/" target="_blank" rel="noreferrer noopener">Ir a...</a>
                        <a href="https://github.com/JoseCamilo84/Portfolio-Django" target="_blank" rel="noreferrer noopener">GitHub</a>
                    </div>
                </div>
            </article>
            <article class="card-folio">
                <img src="{% static 'assets/img-squills/django.png' %}" alt="">
                <div class="description-folio">
                    <h4>Nombre de Proyecto</h4>
                    <p>Aqui van las tecnologias usadas</p>
                    <div class="link-folio">
                        <a href="" target="_blank" rel="noreferrer noopener">Ir a...</a>
                        <a href="" target="_blank" rel="noreferrer noopener">GitHub</a>
                    </div>
                </div>
            </article>
            <article class="card-folio">
                <img src="{% static 'assets/img-squills/django.png' %}" alt="">
                <div class="description-folio">
                    <h4>Nombre de Proyecto</h4>
                    <p>Aqui van las tecnologias usadas</p>
                    <div class="link-folio">
                        <a href="" target="_blank" rel="noreferrer noopener">Ir a...</a>
                        <a href="" target="_blank" rel="noreferrer noopener">GitHub</a>
                    </div>
                </div>
            </article>
            <article class="card-folio">
                <img src="{% static 'assets/img-squills/django.png' %}" alt="">
                <div class="description-folio">
                    <h4>Nombre de Proyecto</h4>
                    <p>Aqui van las tecnologias usadas</p>
                    <div class="link-folio">
                        <a href="" target="_blank" rel="noreferrer noopener">Ir a...</a>
                        <a href="" target="_blank" rel="noreferrer noopener">GitHub</a>
                    </div>
                </div>
            </article>
            <article class="card-folio">
                <img src="{% static 'assets/img-squills/django.png' %}" alt="">
                <div class="description-folio">
                    <h4>Nombre de Proyecto</h4>
                    <p>Aqui van las tecnologias usadas</p>
                    <div class="link-folio">
                        <a href="" target="_blank" rel="noreferrer noopener">Ir a...</a>
                        <a href="" target="_blank" rel="noreferrer noopener">GitHub</a>
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock content %}