{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock title %}

{% block content %}
    <section class="portfolio-content">
        <h1>PortFolio - Projects</h1>
        <div class="contenedor-folio">
            <a href="" class="card-folio">
                <img src="{% static 'assets/img-squills/frontend-mentor.png' %}" alt="">
                <div class="description-folio">
                    <h4>Frontend Mentor - Social proof section</h4>
                    <p>HTML, CSS (Grid, Flexbox)</p>
                </div>
            </a>
            <a href="" class="card-folio">
                <img src="{% static 'assets/img-squills/django.png' %}" alt="">
                <div class="description-folio">
                    <h4>Nombre de Proyecto</h4>
                    <p>Aqui van las tecnologias usadas</p>
                </div>
            </a>
            <a href="" class="card-folio">
                <img src="{% static 'assets/img-squills/django.png' %}" alt="">
                <div class="description-folio">
                    <h4>Nombre de Proyecto</h4>
                    <p>Aqui van las tecnologias usadas</p>
                </div>
            </a>
            <a href="" class="card-folio">
                <img src="{% static 'assets/img-squills/django.png' %}" alt="">
                <div class="description-folio">
                    <h4>Nombre de Proyecto</h4>
                    <p>Aqui van las tecnologias usadas</p>
                </div>
            </a>
            <a href="" class="card-folio">
                <img src="{% static 'assets/img-squills/django.png' %}" alt="">
                <div class="description-folio">
                    <h4>Nombre de Proyecto</h4>
                    <p>Aqui van las tecnologias usadas</p>
                </div>
            </a>
            <a href="" class="card-folio">
                <img src="{% static 'assets/img-squills/django.png' %}" alt="">
                <div class="description-folio">
                    <h4>Nombre de Proyecto</h4>
                    <p>Aqui van las tecnologias usadas</p>
                </div>
            </a>
        </div>
    </section>

{% endblock content %}